/* Reset básico - Remove margens e preenchimentos padrão para garantir um estilo uniforme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Define o fundo da página como cinza claro para melhor leitura */
body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajusta a altura mínima para ocupar toda a tela */
    padding: 0;
    margin: 0;
}

/* .menu-spacing {
    height: 120px;
  } */

.container {
    background: white;
    margin: 80px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
}


/* Estiliza o título principal da página */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Define a tabela para ocupar todo o espaço disponível */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

/* Cabeçalho da tabela com fundo azul para destaque */
thead {
    background-color: #3dbbcc;
    color: white;
}

/* Define os estilos das células da tabela */
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    color: #333;
}

/* Efeito de hover para realce ao passar o mouse sobre a linha */
tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estiliza os botões para melhor aparência e interação */
.btn {
    display: inline-block;
    background: #3dbbcc;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

/* Efeito de hover no botão para indicar interatividade */
.btn:hover {
    background: #e75858;
}


/* Responsividade: Adiciona rolagem horizontal para telas menores */
@media (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
