/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* Facilita cálculos de rem */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(135deg, #20b2aa, #969494);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* Evita bordas apertadas em telas pequenas */
}

/* Container Login */
.container-login {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2.5rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 400px;
    /* Limita a largura máxima */
}

/* Form Header */
.form-header {
    margin-bottom: 2rem;
}

.icon {
    font-size: 4rem;
    color: #40e0d0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3.3rem;
    font-weight: 700;
    color: #333;
}

/* Input Group */
.input-group {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 100%;
    /* Garante responsividade */
}

.input-group i {
    color: #40e0d0;
    font-size: 2.6rem;
    margin-right: 1rem;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 1.2rem;
    flex: 1;
    color: #333;
    background: transparent;
}

/* Botão Submit */
.submit-btn {
    background-color: #40e0d0;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
    /* Garante que ocupe toda a largura */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #339e99;
}

/* Link para Cadastro */
.registration-link {
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #333;
}

.registration-link a {
    color: #0656e9;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.registration-link a:hover {
    color: #339e99;
}
