* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(135deg, #20b2aa, #969494);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html {
    font-size: 62.5%;
}


h2 {
    font-size: 3.5rem;
    margin: 2rem;
    color: rgb(255, 255, 255);
}

.menu-spacing {
    height: 150px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    margin: 2rem;
}

#calendar-container {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 2.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#prev-month {
    font-size: 1rem;
}

#calendar {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

#calendar div {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

#calendar div.selected {
    background-color: #0044cc;
    color: white;
    font-weight: bold;
}

#calendar div:hover {
    background-color: #007bff;
    color: white;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#calendar-header button {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#calendar-header button:hover {
    background-color: #003399;
}


form {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003399;
}