/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(135deg, #40e0d0,  #969494);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Principal */
.main-container {
    display: flex;
    gap: 2rem;
}

/* Container Login Geral */
.container-login {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 360px;
}

/* Form Header */
.form-header {
    margin-bottom: 2rem;
}

.form-header .icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

/* Área do Paciente */
.container-login.paciente .icon {
    color: #40e0d0;
}

.container-login.paciente .submit-btn {
    background-color: #40e0d0;
}

.container-login.paciente .submit-btn:hover {
    background-color: #339e99;
}

/* Área do Médico */
.container-login.medico .icon {
    color: #007bff;
}

.container-login.medico .submit-btn {
    background-color: #007bff;
}

.container-login.medico .submit-btn:hover {
    background-color: #0056b3;
}

/* Input Group */
.input-group {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 1.5rem;
    padding: 0.8rem 1.5rem;
}

.input-group i {
    color: #40e0d0;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 1.2rem;
    flex: 1;
    color: #333;
    background: transparent;
}

/* Botão Submit */
.submit-btn {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Link para Cadastro */
.registration-link {
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
}

.registration-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.registration-link a:hover {
    color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .container-login {
        width: 90%;
    }
}
