:root {
  --primary-color: #0A1128;
  --primary-color-claro: #1637a3;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --secondary-color: crimson;
  --gap: 3rem;
  --color-white-ovo: #f4f4f4;
  --color-black: #000000;
  --color-red-primary: #ff9688;
}

* {
  margin: 0;
  padding: 0;
}

/*Elementos*/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

/*Elementos*/

/*Class*/

.main-bg {
  /* background-image: url('../img/background.svg'); */
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background: var(--white-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 80px;
}

/*Class*/
/*Menu*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid var(--light-gray-color);
}


.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

/*Menu*/

.intro-text-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 2;
  text-align: left;
  color: var(--white-color);
  font-size: 3rem;
}

.corressel {
  width: 100%;
  position: relative;
}

.carousel-slide {
  width: 100vh;
  position: relative;

}

.carousel-item {
  position: relative;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(68%);
}

.intro-text-content h2 {
  font-size: 3rem;
  /* text-transform:capitalize; */
  line-height: 1.2;
  margin: 0;
}

.intro-text-content p {
  text-align: left;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  padding:  1rem;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}



/* Descrição */
.description {
  padding: 60px 0;
  text-align: center;
  background-color: #f4f4f4;
}

.description h2 {
  font-size: 2.8rem; 
  margin-bottom: 20px;
  color: #333;
}

.description p {
  font-size: 1.4rem; 
  margin-bottom: 30px;
  color: #666;
}

.benefits {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.benefit-item {
  width: 30%;
  background-color: #fff;
  padding: 40px; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.benefit-item .icon {
  font-size: 3rem; 
  color: #4CAF50;
  margin-bottom: 20px;
}

.benefit-item h3 {
  margin-bottom: 15px;
  font-size: 2rem; 
  color: #333;
}

.benefit-item p {
  font-size: 1.3rem; 
  color: #555;
  margin-bottom: 0;
  text-align: center;
}

/* botao de consulta */

.consulta-container{
  background-color: var(--color-white-ovo) ;
  padding: 40px;
  text-align: center;
  /* color: var(--color-red-primary); */
}

.consulta-container p{
  color: var(--color-black);
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.consulta-container button{
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: backgroud-color 0.3s ease;
}

.consulta-container button:hover{
  background-color: var(--primary-color);
}

/*Botão*/

/* Layout da Galeria */
.gallery {
  padding: 60px 0;
  background-color: #f4f4f4;
  padding-bottom: 40px; 

}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  align-items: center;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px; 
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: translateY(-10px);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}
